<!DOCTYPE html>
<html ng-app="storeApp">
<head>
    <title>AngularTrain</title>

    <link href="css/bootstrap.css" rel="stylesheet"/>
</head>

<body ng-controller="storeCrtl">

    <div class="container">
        <h1>{{name}}</h1>
        <address>{{address}}</address>
        <span class="label label-default">{{getStatus()}}</span>

        <a href="" ng-click="status = 'Closed'" ng-show="status == 'Open'">close</a>
        <a href="" ng-click="status = 'Open'" ng-show="status == 'Closed'">open</a>

        <cart class="pull-right" item-id="'name'" checkout-path="/checkout"></cart>

        <div ng-include="'partials/products.html'" ng-if="status == 'Open'"></div>
    </div>

    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/store-controller.js"></script>
    <script src="scripts/services/product-service.js"></script>
    <script src="components/cart/cart.js"></script>
</body>

</html>
