<h2>Products ({{products.length}})</h2>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </thead>

    <tr ng-repeat="product in products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td><button class="btn btn-sm" ng-click="removeProduct($index)">remove</button></td>
    </tr>
</table>

<h2>Add Product</h2>

<div class="form-group">
    <div class="alert alert-success" ng-show="productAdded">Product was successfully added!
        <button class="close" data-dismiss="alert" ng-click="productAdded=false"><span>&times;</span></button>
    </div>

    <label>Product Name</label><input class="form-control" ng-model="productName"/>
    <label>Product Description</label><input class="form-control" ng-model="productDescription"/>
    <label>Product Category</label><input class="form-control" ng-model="productCategory"/>
    <label>Product Price</label><input class="form-control" ng-model="productPrice"/>
</div>

<button class="btn btn-primary" ng-click="addProduct(productName, productDescription, productCategory, productPrice)">add</button>